## 꼭 알아둬야 할 자료구조 : 배열(Array)

# 배열(Array)
---

- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
    - **인덱스** : 배열의 주소
<br>
<br>
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있다.

## 1. 배열이 왜 필요한가?

- 같은 종류의 데이터를 효율적으로 관리하기 위해
- 같은 종류의 데이터를 순차적으로 저장
<br>


####  1.1 배열의 장점은?
- 빠른 접근이 가능하다.<br>
    _why? 인덱스 번호를 사용해서 해당 배열의 값에 접근할 수 있다._
    <br>
  
#### 1.2 배열의 단점은? 
- 연관된 데이터의 추가가 어렵다.
- 데이터가 가변적일때 (추가/삭제)가 쉽지 않음
- 다리 최대 길이를 지정해야 한다.

## 2. 파이썬과 C언어의 배열 예제

### 2.1. C언어 예제

In [ ]:
#include <stdio.h>

int main(int argc, char*argv[])
{
    char country[3]="US";
    printf("%c%|n",country[0],country[1]);
    printf("%s|n",country);
    return O;
}

### 2.2. 파이썬 예제

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)

type(country)

US
USA

str

## 3. 파이썬과 배열

- 파이썬 리스트 활용

In [2]:
# 1차원 배열 : 리스트로 구현식

data = [1,2,3,4]
print(data)

[1, 2, 3, 4]

In [5]:
# 2차원 배열 : 리스트로 구현시
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
print(data[0])

[1, 2, 3]

In [8]:
print(data[0][0])
print(data[0][1])
print(data[0][2])
print(data[1][0])

1
2
3
4

## 4. 프로그래밍 연습

#### 연습 4.1 : 위의 2차원 배열에서 9,8,7 순서로 출력해보기

In [15]:
print(data[2][2],data[2][1],data[2][0])

9 8 7

#### 연습 4.2 : 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [17]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [22]:
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
print(m_count)

38

In [31]:
m_count = 0 ##------------ 0으로 변수의 값을 초기화한다.

for data in dataset:
    for index in range(len(data)): ##----- 0번 부터 시작해서 len(data) - 1 번까지 반복해서 시행
        if data[index] == 'M': ##----- print(data[index]) 이것은 결국 2차원 배열로 봐도 된다.
            m_count += 1
print(m_count)

38