## 3.2 반환(return)문
---

**함수**에 **값** 을 넣으면 함수는 계산된 값을 돌려준다. 


##### EX) 함수 예시
```python
def f1(x):
    a = 3
    b = 5
    y = a * x + b
    return y # y 값을 반환한다.

c = f1(10)
print(c)  # 35

```

함수 `f1()` 는 값을 돌려주기 위해 `return`이라는 것이 쓰여있다. 
이렇게 만들어진 함수에 `10` 이라는 인자를 넣어주면 함수는 `35`라는 값을 돌려준다.

따라서, 그 값을 다시 `c` 라는 변수에 넣을 수도 있다.

_만약, 함수를 정의할 때 `return y` 대신에 `print(y)` 라고 썼다면?_

```python
def f2(x):
    a = 3
    b = 5
    y = a * x + b
    print(y) # y 값을 출력한다
    
d = f2(10)  # d = ?
# 35

print(d)
# None
```

`d = f2(10)`이라고 하면 `f2()` 함수가 실행되어 `35`가 화면에 나타나지만 `d`에게 값을 반환하지 않는다.

그래서 `d` 를 프린트해보면 아무 값이 없다는 뜻으로 `None`이 출력이 된다.

##### EX1) 삼각형의 넓이를 구하는 함수를 만들어보기


함수의 인자로는 삼각형의 밑변과 높이가 주어지고, 반환(return) 값은 삼각형의 넓이가 된다.

In [13]:
# 삼각형의 넓이를 구하는 함수

def triangle(a,h):
    return a * h // 2

triangle(5,10)

25

## 참과 거짓


1 더하기 1은 2 이다. `참`, `거`'으로 대답해보세요.

`참`이라고 대답하셨나요?

그럼 파이썬은 이 질문에 어떻게 대답할까요?

In [14]:
1 + 1 == 2

True

In [15]:
1 + 1 == 3

False

##### EX2) 1 + 1 이 2가 맞으면 'YES' 라고 대답하고 그렇지 않으면 'NO'라고 대답하는 if 문을 만들어보시오.

In [16]:
if 1+1 == 2:
    print('yes')
else:
    print('no')

yes

`1 + 1 == 2`라는 식이 `True`(참)이면 `yes`를, `False`(거짓)이면 `no`를 프린트했다.

In [20]:
def quiz():
    ans = input('1+2 = ')
    return 1 + 2 == int(ans)
quiz()

1+2 = 5

False

#### 참고
`input()`이라는 함수는 사용자로부터 문자열 입력을 받는데 쓰인다., `int()` 함수는 문자열을 정수로 바꿔줍니다. 

---

예제에서는 `input()` 함수가 1 + 2 =이라는 문자열을 출력한 다음 사용자로부터 문자열을 입력 받아 그 값을 `ans`라는 변수에 넣어줬습니다.

셋째 줄에서는 `1 + 2`의 값과 `int(ans)`의 값이 같은지를 나타내는 `True`나 `False`로 반환하겠죠?

답을 맞히면 `True`를 돌려주고, 틀리면 `False`를 돌려준다. 

위에서 만든 퀴즈를 다음과 같이 풀어볼 수 있습니다.

### 3.2.1. 연습 문제 : 숫자 읽기 함수(1~10)
---

#### 문제
매개변수로 받은 정수를 한국어로 표기한 문자열을 반환하는 함수 `korean_number()`를 정의하세요. 

단, 매개변수는 1 이상 10 이하의 정수라고 가정합니다.


##### EX)

```python
korean_number(1) # '일'

korean_number(3) # '삼'

```

In [22]:
def korean_number(num):
    if num == 1:
        return '일'
    elif num == 2:
        return '이'
    elif num == 3:
        return '삼'
    elif num == 4:
        return '사'
    elif num == 5:
        return '오'
    elif num == 6:
        return '육'
    elif num == 7:
        return '칠'
    elif num == 8:
        return '팔'
    elif num == 9:
        return '구'
    elif num == 10:
        return '십'

In [23]:
korean_number(1)

'일'

### 3.2.2 연습 문제: 함수 정의하기
---

### 문제
---

#### 문제 1

다음 `triple()` 함수를 완성하시오.
```python
def triple(x):
    
triple(2) # 6

triple('x') # 'xxx'
```

#### 문제 2

오늘의 날짜 객체를 구하는 코드는 다음과 같습니다. (코드를 이해하지 못해도 이 문제를 풀 수 있습니다.)

```python
from datetime import datetime
today = datetime.today()
today
# datetime.datetime(2021, 11, 5, 0, 47, 15, 356673)
```

위 코드의 `today`에서 연도를 구하는 방법은?
```python
today.year # 2021
today.month # 11
today.day # 5
```

태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 `korean_age()`를 작성하시오.

In [82]:
# 문제 1

def triple(x):
    return x * 3
    
print(triple(2))
print(triple('x'))

6
xxx

In [40]:
from datetime import datetime
today = datetime.today()
today.year

datetime.today().month

11

In [81]:
# 문제 2
birth_year = int(input())

def korean_age(birth_year):
    from datetime import datetime
    today = datetime.today()
    return today.year - birth_year + 1

korean_age(birth_year)

1992

30

In [78]:
def korean_age(birth_year):
    from datetime import datetime
    today = datetime.today()
    return today.year - birth_year + 1


if __name__ == '__main__':
    print("triple(2):", triple(2))
    print("triple('x')", triple('x'))
    print("korean_age(2000):", korean_age(2000))

triple(2): 6
triple('x') xxx
korean_age(2000): 22

### 3.2.3 연습 문제: 단리 이자 계산
---

새해를 맞아 저축을 하기로 하고 연이율 3.875%(단리)인 상품에 10,000,000원을 저축했습니다. 5년 동안 넣어두면 이자가 얼마 붙는지 계산해보겠습니다.

첫 해에 원금 10,000,000원에 대한 이자 10,000,000 * 0.03875 = 387500원이 붙습니다.
둘째 해에 원금 10,000,000원에 대한 이자 387500원이 붙습니다.
마찬가지로 셋째, 넷째, 다섯째 해에도 해마다 같은 금액의 이자가 붙습니다.

###### 만기가 되어 받을 수 있는 이자는 다음과 같습니다.

```python
10000000 * 0.03875 * 5  
# 1937500.0
```

##### 원금과 이자를 합한 총액, 즉 원리금은 다음과 같습니다.

```python
10000000 + 10000000 * 0.03875 * 5
# 11937500.0
```

##### 원금(Principal), 이율(rate), 기간(time)이 주어졌을 때, 이자(Interest)를 구하는 공식  : $I$ = $Prt$
 
 
##### 원리금(Amount)을 구하는 공식 : $A$ = $P(1+rt)$

### 문제
---

#### 문제 1

원금(`p`), 단리 이율(`r`), 기간(`t`)이 주어졌을 때 **이자**를 구하는 함수 `simple_interest()`를 작성하시오

#### 예1
```python
simple_interest(10000000, 0.03875, 5)
# 1937500.0
```

#### 예2
```python
simple_interest(1100000, 0.05, 5/12)
# 22916.666666666668
```

In [85]:
def simple_interest(p,r,t):
    return p * r * t

print(simple_interest(10000000, 0.03875, 5))
print(simple_interest(1100000, 0.05, 5/12))

1937500.0
22916.666666666668

#### 문제 2

원금(`p`), 단리 이율(`r`), 기간(`t`)이 주어졌을 때 **원리금**을 계산하는 함수 `simple_interest_amount()`를 작성하세요.

#### 예1
```python
simple_interest_amount(10000000, 0.03875, 5)
# 11937500.0
```

#### 예2
```python
simple_interest_amount(1100000, 0.05, 5/12)
# 1122916.6666666665
```

In [87]:
def simple_interest_amount(p,r,t):
    return p * (1 + r * t)

print(simple_interest_amount(10000000, 0.03875, 5))
print(simple_interest_amount(1100000, 0.05, 5/12))

11937500.0
1122916.6666666665

In [88]:
def simple_interest(p, r, t):
    return p * r * t
    
def simple_interest_amount(p, r, t):
    return p * (1 + r * t)

if __name__ == '__main__':
    print('Quiz 1')
    print('ex 1:', simple_interest(10000000, 0.03875, 5))
    print('ex 2:', simple_interest(1100000, 0.05, 5/12))

    print('\nQuiz 2')
    print('ex 1:', simple_interest_amount(10000000, 0.03875, 5))
    print('ex 2:', simple_interest_amount(1100000, 0.05, 5/12))

Quiz 1
ex 1: 1937500.0
ex 2: 22916.666666666668

Quiz 2
ex 1: 11937500.0
ex 2: 1122916.6666666665